<div class="center-container">
 <!--   <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
    </h1> -->
  <div class="center-heading">--游戏版本设置--</div>  
  <!--<div class="center-heading">{{ 'CHOOSE.GAME.VERSION' | translate }}</div>-->

  <div class="image-row">
    <div id="imageROC" class="imageContainerROC" #imageROC data-action="Roc" (mouseover)="onMouseEnter($event, 'Roc')" (mouseout)="onMouseLeave($event, 'Roc')" (click)="onClick($event, 'Roc')">
      <img id="ImagesROCEnable" src="assets/ROC.Enable.png" [ngStyle]="{'display': Images_ROC_Shown ? 'block' : 'none'}">
      <img id="ImagesROCDisable" src="assets/ROC.Disable.png" [ngStyle]="{'display': !Images_ROC_Shown ? 'block' : 'none'}">
    </div>
    <div id="imageTFT" class="imageContainerTFT" #imageTFT data-action="Tft" (mouseover)="onMouseEnter($event, 'Tft')" (mouseout)="onMouseLeave($event, 'Tft')" (click)="onClick($event, 'Tft')">
      <img id="ImagesTFTEnable" src="assets/TFT.Enable.png" [ngStyle]="{'display': Images_TFT_Shown ? 'block' : 'none'}">
      <img id="ImagesTFTDisable" src="assets/TFT.Disable.png" [ngStyle]="{'display': !Images_TFT_Shown ? 'block' : 'none'}">
    </div>
    <div id="imageREF" class="imageContainerREF" #imageREF data-action="Ref" (mouseover)="onMouseEnter($event, 'Ref')" (mouseout)="onMouseLeave($event, 'Ref')" (click)="onClick($event, 'Ref')">
      <img id="ImagesREFEnable" src="assets/REF.Enable.png" [ngStyle]="{'display': Images_REF_Shown ? 'block' : 'none'}">
      <img id="ImagesREFDisable" src="assets/REF.Disable.png" [ngStyle]="{'display': !Images_REF_Shown ? 'block' : 'none'}">
    </div>
  </div>

  <div class="center-text">--高级设置--</div>
  <!--<div class="center-text">{{ 'ADVANCED.SETTING' | translate }}</div>-->
  <div class="container.setting">
    <label class="switch">
      <input type="checkbox" id="ModeSwitch" class="hidden-checkbox" #ModeSwitch data-action="Mode" (click)="onClick($event, 'Mode')">
      <span class="slider" [ngStyle]="{'display': Mode_State ? 'block' : 'none'}" style="color: white;">按文件夹安装</span>
      <span class="slider:before" [ngStyle]="{'display': !Mode_State ? 'block' : 'none','-webkit-transform': !Mode_State ? 'translateX(100%)' : '','-ms-transform': !Mode_State ? 'translateX(100%)' : '','transform': !Mode_State ? 'translateX(100%)' : '','margin-left': !Mode_State ? '-3px' : ''}" style="color: white;">按地图安装</span>
      <!--<span class="slider" [ngStyle]="{'display': Mode_State ? 'block' : 'none'}" style="color: white;">{{ 'INSTALL.ON.MAP' | translate }}</span>-->
      <!-- <span class="slider:before" [ngStyle]="{'display': !Mode_State ? 'block' : 'none'}" style="color: white;">{{ 'INSTALL.ON.FOLDER' | translate }}</span>-->
    </label>
    <label class="checkboxbj">
      <input type="checkbox" id="BJSwitch" checked #BJSwitch data-action="BJ" (click)="onClick($event, 'BJ')">
      <label for="BJSwitch">安装控制台(B.J)</label>
      <!--<label for="BJSwitch">{{ 'INCLUDE.COMMANDER' | translate }}</label>-->
    </label>
  </div>

</div>
