
<div class="container">
<!--   <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1> 
</div> -->

    <div class="center-container">
      <div class="center-heading">--游戏版本设置--</div>

      <div class="image-row">
        <div id="imageROC" class="imageContainerROC" #imageROC data-action="ROCEVENT" (mouseover)="onMouseEnter($event)" (mouseout)="onMouseLeave($event)" (click)="onClick($event)">
          <img id="ImagesROCEnable" src="assets/ROC.Enable.png" #ImagesROCEnable [style.display]="'none'">
          <img id="ImagesROCDisable" src="assets/ROC.Disable.png" #ImagesROCDisable [style.display]="'block'">
        </div>
        <div id="imageTFT" class="imageContainerTFT" #imageTFT data-action="TFTEVENT" (mouseover)="onMouseEnter($event)" (mouseout)="onMouseLeave($event)" (click)="onClick($event)">
          <img id="ImagesTFTEnable" src="assets/TFT.Enable.png" #ImagesTFTEnable [style.display]="'none'">
          <img id="ImagesTFTDisable" src="assets/TFT.Disable.png" #ImagesTFTDisable [style.display]="'block'">
        </div>
        <div id="imageREF" class="imageContainerREF" #imageREF data-action="REFEVENT" (mouseover)="onMouseEnter($event)" (mouseout)="onMouseLeave($event)" (click)="onClick($event)">
          <img id="ImagesREFEnable" src="assets/REF.Enable.png" #ImagesREFEnable [style.display]="'none'">
          <img id="ImagesREFDisable" src="assets/REF.Disable.png" #ImagesREFDisable [style.display]="'block'">
        </div>
      </div>

      <div class="center-text">--高级设置--</div>

      <div class="container.setting">
        <label class="switch">
          <input type="checkbox" [(ngModel)]="Mode_State" id="ModeSwitch" class="hidden-checkbox" #ModeSwitch data-action="Mode" (click)="onClick($event)">
          <span class="slider" [innerText]="Mode_State ? '按文件夹安装' : '按地图安装'"></span>
        </label>
        <label class="checkboxbj">
          <input type="checkbox" id="BJSwitch" checked #BJSwitch data-action="BJ" (click)="onClick($event)">
          <label for="BJSwitch">安装控制台(B.J)</label>
        </label>
      </div>



      
    </div>
</div>
