
<div class="container">
<!--   <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1> 
</div> -->

    <div class="center-container">
      <div class="center-heading">--游戏版本设置--</div>

      <div  class="image-row">
        <div id="imageROC" class="imageContainerROC">
          <img id="ImagesROCEnable" src="assets/ROC.Enable.png" style="display: none;">
          <img id="ImagesROCDisable" src="assets/ROC.Disable.png">
        </div>
        <div id="imageTFT" class="imageContainerTFT">
          <img id="ImagesTFTEnable" src="assets/TFT.Enable.png" style="display: none;">
          <img id="ImagesTFTDisable" src="assets/TFT.Disable.png">
        </div>
        <div id="imageREF" class="imageContainerREF">
          <img id="ImagesREFEnable" src="assets/REF.Enable.png" style="display: none;">
          <img id="ImagesREFDisable" src="assets/REF.Disable.png">
        </div>
      </div>

      <div class="center-text">--高级设置--</div>

      <div class="container.setting">
        <label class="switch">
          <input type="checkbox" id="ModeSwitch" class="hidden-checkbox">
          <span class="slider"></span>
        </label>
        <label class="checkboxbj">
          <input type="checkbox" id="BJSwitch" checked>
          <label for="BJSwitch">安装控制台(B.J)</label>
        </label>
      </div>

       <div id="test">
          <img id="testico" src="assets/icons/favicon.ico" style="display: none;">
       </div>

      
    </div>
</div>
